

 <style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
      .main-title {
    text-align: center;
    font-size: 24px;
  }

  .text-description {
    font-size: 16px;
  }

  
  
    
  </style>
  
  <!-- Toolbar -->
  <div class="container">
    <h1 class="main-title">[NPC] Beginner Merchant </h1>
    <h3 class="text-description">Hello Adventurer, welcome to the town of Angular! <br _ngcontent-jxb-c1="">Here you can explore all the exciting stuff like meeting weird monster, learning new spell, and discovering rare item. <br _ngcontent-jxb-c1="">But first, you need some weapon/spell to accompany you along the way! <br _ngcontent-jxb-c1="">I will give you 1000 gold, so choose your weapon/spell wisely~</h3>
    <app-card></app-card>
    <!-- <app-cart></app-cart> -->
  </div> 
  
  
 
  
  
